<h2 class="page-header">All books</h2>
<%- include('../partials/error') -%>
<form method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="">Title</label>
      <input type="text" name="title" value="<%= typeof(queryParams.title) != null ? queryParams.title : "" %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="">Published After</label>
      <input type="date" name="publishedAfter"
        value="<%= typeof(queryParams.publishedAfter) != null ? queryParams.publishedAfter : "" %>">
    </div>
    <div class="form-item">
      <label for="">Published Before</label>
      <input type="date" name="publishedBefore"
        value="<%= typeof(queryParams.publishedBefore) != null ? queryParams.publishedBefore : "" %>">
    </div>
  </div>
  <div class="form-row form-row-end btn-container">
    <input class="btn btn-primary" type="submit" value="Search">
  </div>
</form>
<div>
  <%- include("../partials/bookGrid", {large: true, grid: true}) -%>
</div>