<h2>All books</h2>
<form method="GET">
  <div>
    <label for="">Title</label>
    <input type="text" name="title" value="<%= typeof(queryParams.title) != null ? queryParams.title : "" %>">
  </div>
  <div>
    <label for="">Published After</label>
    <input type="date" name="publishedAfter"
      value="<%= typeof(queryParams.publishedAfter) != null ? queryParams.publishedAfter : "" %>">
  </div>
  <div>
    <label for="">Published Before</label>
    <input type="date" name="publishedBefore"
      value="<%= typeof(queryParams.publishedBefore) != null ? queryParams.publishedBefore : "" %>">
  </div>
  <div>
    <input type="submit" value="Search">
  </div>
</form>
<div>
  <% books.forEach(book => { %>
    <div>
      <img height="150px" src="<%= book.coverImageLink %>" alt="<%= book.title + " cover image" %>">
    </div>
  <% }) %>
</div>