<%- include('../partials/error') -%>
<h1><%= author.name %></h1>
<div>
  <div class="btn-container">
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">edit</a>
    <%- include("../partials/deleteForm", {url: `/authors/${author.id}`}) -%>
  </div>
</div>
<h3>Books by <%= author.name %></h3>
<% if (books.length > 0) { %>
  <div>
    <%- include("../partials/bookGrid") -%>
  </div>
<% } else { %>
  <div>
    <h3><%= author.name %> has not published any book yet.</h3>
  </div>
<% } %>
<div>
  <div class="btn-container">
    <a class="btn btn-primary" href="/books/new">Add Book</a>
  </div>
</div>